  /* Animations */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  

#canvas{
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.canvas-container{
    margin:0 auto;
}

@font-face {
    font-family: Barcode;
    src: url('LibreBarcode39.ttf');
}

header h1{
    font-size: 32px;
    text-shadow: -1px -1px red, 1px 1px darkred, -3px 0 4px #000;
    font-family:Arial, Helvetica, sans-serif;
    color: red;
    font-weight:lighter;
    text-align:center;
    display:block;
    margin-bottom:8px;
}

body{
    background-color: lightgray;
}
button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.65);
    background:#333333;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin: 4px;
    margin-top:10px;
  }

button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px #000;
  }

  .material-icons{
      font-size: 36px;
  }

  #button_container{
      text-align: center;
  }





  /* arrière plan du modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    right: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Contenu du modal */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-right: 0;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    right:0px;
    top:0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  

  /* Boutton pour fermer le modal */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    text-align: center;
    padding: 2px 16px;
    background-color: #333333;
    color: white;
  }
  
.modal-body {
    padding: 2px 16px;
}
  

#text-controls div{
      margin-top:15px;
  }

#selection-control div{
    margin-top:15px;
}
#canvas-control div{
    margin-top:15px;
}

#selection-control div:last-child{
    margin-bottom:15px;
}

  #text-controls-additional{
      margin-top:15px;
  }


  input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
    display:inline-block;
    vertical-align: middle;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0px;

}
input[type="color"]::-webkit-color-swatch {
	border: none;

}


output {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    font-family: Arial, sans-serif;
  }

input[type="number"] {
    width: 40px;
    padding: 4px 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
  }
  
 
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    bottom: 77px;
    left: 5px;
    background-color: #f1f1f1;
    min-width: 50px;
    width:90.5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float:right;
    align-content: center;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor:pointer;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
 #canvas-control button{
width: 100px;
padding:5px;
 }